{% extends "base.html" %}
{% block document_title %}Авторы{% endblock document_title %}

{% block additional_styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/view_of_set.css' %}">
{% endblock additional_styles %}

{% block content %}
    {% load static %}

    <h1>Список всех авторов</h1>
    <hr>
    <div class="infoblock">
        <h2>Количество авторов: {{ all_objects }}</h2>
        <form action="{% url 'RS:search_authors' 1 %}">
            <input type="text" placeholder="Введите название книги" name="text">
            <button class="btn">Найти</button>
        </form>
    </div>
    <hr>
    <div class="pagination">
        <a href="{% url cur_url prev_page %}{% if cur_url == 'RS:search_authors' %}?text={{ search_text }}{% endif %}" class="btn"><--</a>
        <p>{{ page_no }} / {{ maybe_pages }}</p>
        <a href="{% url cur_url next_page %}{% if cur_url == 'RS:search_authors' %}?text={{ search_text }}{% endif %}" class="btn">--></a>
    </div>
    {% if objects_list %}
        <ul class="list">
            {% for author in objects_list %}
                <li class="card">
                    <a href="{% url 'RS:show_one_author' author.id %}">
                        <img src="{% static author.image %}" alt="{{ author.lastname }} {{ author.firstname }}" class="card__img">
                        <div class="card__description">
                        <p class="common-text card__link">{{ author }}</p>
                    </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Простите, авторы не найдены :(</p>
    {% endif %}
{% endblock content %}
