{% extends "base.html" %}
{% block document_title %}Книги{% endblock document_title %}

{% block additional_styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/view_of_set.css' %}">

    <style>
        .list {
            grid-template-columns: repeat(3, 1fr);
        }

        .card a {
            flex-direction: row;
            align-items: start;
            text-align: start;
        }
        .card__img {
            width: 30%;
        }
    </style>
{% endblock additional_styles %}

{% block content %}
    {% load static %}

    <h1>{{ h1_title }}</h1>
    <hr>
    <div class="infoblock">
        <h2>Количество книг: {{ all_objects }}</h2>
        <form action="{% url 'RS:search_books' 1 %}">
            <input type="text" placeholder="Введите название книги" name="text">
            <button class="btn">Найти</button>
        </form>
    </div>
    <hr>
    <div class="pagination">
        <a href="{% url cur_url prev_page %}{% if cur_url == 'RS:search_books' %}?text={{ search_text }}{% endif %}" class="btn"><--</a>
        <p>{{ page_no }} / {{ maybe_pages }}</p>
        <a href="{% url cur_url next_page %}{% if cur_url == 'RS:search_books' %}?text={{ search_text }}{% endif %}" class="btn">--></a>
    </div>
    {% if objects_list %}
        <ul class="list">
        {% for book in objects_list %}
            <li class="card">
                <a href="{% url 'RS:show_one_book' book.id %}">
                    <img src="{% static book.image %}" alt="{{ book.book_name }}" class="card__img">
                    <div class="card__description">
                    <p class="common-text">{{ book.get_author }}</p>
                    <p class="common-text card__link">{{ book.book_name }}</p>
                    <p class="common-text">Рейтинг: {{ book.rating }}</p>
                </div>
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Простите, книги не найдены :(</p>
    {% endif %}
{% endblock content %}
