{% extends "base.html" %}
{% block document_title %}{{ book.book_name }}{% endblock document_title %}

{% block additional_styles %}
    <style>
        .description {
            margin-top: 30px;
            display: flex;
            gap: 25px;
        }
        .description__info {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .description__block {
            display: flex;
            flex-direction: column;
            gap: 5px;
            border-radius: 5px;
        }
        .description__img {
            width: 100%;
            max-width: 30%;
            align-self: flex-start;
            display: inline-block;
            border-radius: 5px;
        }

        .button-box {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 5px;
        }

        .vertical-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
        }

        .comment-container {
            gap: 10px;
            width: 80%;
            align-self: center;
            margin-top: 50px;

        }

        .comment {
            padding: 10px;
            gap: 10px;
            border-radius: 5px;
            border: 1px solid black;
        }
        .comment__author {
            font-weight: bold;
        }

        .form {
            max-width: 100%;
            transition: all 0.3s;
            margin-bottom: 10px;
        }

        .form-block--hidden {
            animation: form-hide 0.3s forwards;
        }
        .form-block--active {
            animation: form-show 0.3s;
        }

        @keyframes form-hide {
            from {
                opacity: 1;
                height: 100%;
            }
            to {
                opacity: 0;
                height: 0%;
            }
        }

        @keyframes form-show {
            from {
                opacity: 0;
                height: 0%;
            }
            to {
                opacity: 1;
                height: 100%;
            }
        }
        
    </style>
{% endblock additional_styles %}

{% block content %}
    {% load static %}

    <h1>{{ book.book_name }}</h1>
    <hr>
    <div class="description">
        <img class="description__img" src="{% static book.image %}" alt="">
        <div class="description__info">
            <div class="description__text description__block">
                <h2>Описание</h2>
                <p class="common-text">Автор - <a style="text-decoration: underline;" href="{% url 'RS:show_one_author' book.author_id %}">{{ book.author }}</a></p>
                <p class="common-text">Жанр: {{ book.genre }}</p>
                <p class="common-text">Год написания: {{book.year}}</p>
                <p class="common-text">Рейтинг: {{ book.rating }}</p>
            </div>
            <div class="button-box">
                {% if user.is_authenticated %}
                    {% if not is_disliked %}
                        {% if not is_liked %}
                            <a href="{% url 'RS:like' book.id %}" class="btn">Поставить лайк</a>
                        {% else %}
                            <a href="{% url 'RS:like' book.id %}" class="btn">Убрать лайк</a>
                        {% endif %}
                    {% endif %}
                    {% if not is_liked %}
                        {% if not is_disliked %}
                            <a href="{% url 'RS:dislike' book.id %}" class="btn">Поставить дизлайк</a>
                        {% else %}
                            <a href="{% url 'RS:dislike' book.id %}" class="btn">Убрать дизлайк</a>
                        {% endif %}
                    {% endif %}
                    {% if not in_black_list %}
                        {% if not is_favorite %}
                            <a href="{% url 'RS:add_favorite' book.id %}" class="btn">Добавить в любимое</a>
                        {% else %}
                            <a href="{% url 'RS:delete_favorite' book.id %}" class="btn">Удалить из любимого</a>
                        {% endif %}
                    {% endif %}
                        {% if not is_favorite %}
                        {% if not in_black_list %}
                            <a href="{% url 'RS:add_black_list' book.id %}" class="btn">Добавить в черный список</a>
                        {% else %}
                            <a href="{% url 'RS:delete_black_list' book.id %}" class="btn">Удалить из черного списка</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="description__annotation description__block">
                <h2>Аннотация</h2>
                <p class="common-text">{{ book.annotation }}</p>
            </div>
        </div>
    </div>
    <div class="comment-container wrapper">
        <div class="vertical-wrapper">
            <h2>Комментарии</h2>
            {% if user.is_authenticated %}
            <button class="btn" id="open-form">Оставить отзыв</button>
            {% endif %}
        </div>
        <hr>
        {% if user.is_authenticated %}
        <div class="form-block form-block--hidden">
            <form action="{% url 'RS:add_comment' book.id %}" class="form" method="post" style="margin-top: 0;">
                {% csrf_token %}
                <label class="common-text" for="comment-text">Введите текст</label>
                <textarea name="comment-text" id="comment-text" cols="30" rows="10"></textarea>
                <button class="btn" type="submit" style="align-self: flex-end;">Отправить</button>
            </form>
            <hr>
        </div>
        {% endif %}
        {% if comments %}
            {% for comment in comments%}
                <div class="comment wrapper" id="comment-{{comment.id}}">
                    <p class="common-text comment__author">{{ comment.author }}</p>
                    <p class="common-text comment__text">{{ comment.text }}</p>
                    <div class="vertical-wrapper" style="border-top: 1px solid black; margin-top: 15px;">
                        {% if user.is_authenticated and user.id == comment.author_id %}
                            <div class="button-box">
                                <a href="{% url 'RS:delete_comment' comment.id %}" class="btn">Удалить</a>
                            </div>
                        {% endif %}
                        <p class="comment_date">{{ comment.created_at }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="common-text" style="text-align: center;">Комментарии к данной книге отсутствуют. Станьте первым!</p>
        {% endif %}
    </div>

    <script>
        formBlock = document.querySelector('.form-block')
        openFormBtn = document.getElementById('open-form')

        openFormBtn.addEventListener('click', () => {
            formBlock.classList.toggle('form-block--hidden')
            formBlock.classList.toggle('form-block--active')
        })
    </script>
{% endblock content %}